<div class="mx-auto w-1/2 items-center relative">
  <form action="">
    <div class="flex justify-center p-4">
      <h1 class="text-mainTeal text-2xl">Create New Farmer Account</h1>
    </div>
    <div class="border-solid border-2 border-gray-400 rounded-md p-8">
      <div class="flex-wrap flex -mx-3 mb-3 mt-8">
        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
          <input
            type="text"
            placeholder="First Name"
            class="rounded-full w-full"
          />
        </div>
        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
          <input
            type="text"
            placeholder="Last Name"
            class="rounded-full w-full"
          />
        </div>
      </div>

      <br />

      <div class="">
        <input type="text" placeholder="Email" class="rounded-full w-full" />
      </div>

      <br />

      <div class="flex-wrap flex -mx-3 mb-3 mt-3">
        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
          <input type="text" placeholder="Parish" class="rounded-full w-full" />
        </div>
        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
          <input type="text" placeholder="City" class="rounded-full w-full" />
        </div>
      </div>

      <br />

      <div class="">
        <input
          type="text"
          placeholder="Street Address"
          class="rounded-full w-full"
        />
      </div>

      <br />

      <div class="">
        <input
          type="Password"
          placeholder="Password"
          class="rounded-full w-full"
        />
      </div>

      <br />

      <div class="flex justify-center">
        <button class="rounded-full bg-mainTeal p-2 text-white pl-10 pr-10">
          Create Account
        </button>
      </div>
    </div>
  </form>
</div>
