<div class="items-center relative">
  <form action="" class="content-between">
    <div class="mx-auto w-1/2">
      <img
        src="assets/icons/logo.png"
        alt=""
        class="object-cover rounded-full bg-white w-full h-full"
      />
    </div>
    <div class="flex justify-center text-mainTeal">
      <h1>Sign In to Continue</h1>
    </div>

    <input
      type="text"
      placeholder="Email"
      class="rounded-full border-mainTeal border-2 m-2"
    />
    <br />
    <input
      type="text"
      placeholder="Password"
      class="rounded-full border-mainTeal border-2 m-2"
    />
    <div class="flex justify-center text-gray-500 mr-3">
      <p>Forgot Your Password?</p>
    </div>
    <div class="flex justify-center mt-2">
      <button class="rounded-full bg-mainTeal p-2 text-white pl-10 pr-10">
        Sign In
      </button>
    </div>
    <div class="absolute top-0 right-0">
      <button class="bg-mainTeal text-white p-1 w-6 rounded" mat-dialog-close>
        X
      </button>
    </div>
  </form>
</div>
