<section class="max-w-screen-xl mx-auto px-4 py-8">
  <div>
    <h2 class="mt-1 text-3xl font-semibold uppercase tracking-wide lg:text-4xl">
      In Season
    </h2>
    <br />
    <span class="inline-block h-px w-full bg-black"></span>
  </div>
  <div
    class="p-4 lg:w-3/4 border border-black my-10 mx-auto"
    *ngFor="let item of seasonal"
  >
    <div
      class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
    >
      <img
        alt="team"
        class="flex-shrink-0 w-1/3 object-cover object-center sm:mb-0 mb-4"
        src="{{ item.image }}"
      />
      <div class="flex-grow sm:pl-8">
        <h2 class="title-font font-medium text-lg text-gray-900">
          {{ item.content }}
        </h2>
        <h3 class="text-gray-500 mb-3">Region</h3>
        <hr />
        <br />
        <ul class="mb-4 grid grid-cols-2 grid-rows-2">
          <li class="w-1/2" *ngFor="let region of item.regions">
            {{ region.name }}
          </li>
        </ul>
      <a routerLink="listpage">  <button class="px-5 py-2 bg-mainTeal text-white rounded-full">
          View Farmers
        </button> </a>
      </div>
    </div>
  </div>
  <ol class="flex justify-end gap-1 text-xs font-medium mt-10">
    <li>
      <a
        href="#"
        class="inline-flex h-8 w-16 items-center border border-black justify-evenly"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
            clip-rule="evenodd"
          />
        </svg>
        <span>Prev </span>
      </a>
    </li>

    <li>
      <a
        href="#"
        class="block h-8 w-8 border border-black text-center leading-8"
      >
        1
      </a>
    </li>

    <li
      class="block h-8 w-8 border-mainTeal bg-mainTeal text-center leading-8 text-white"
    >
      2
    </li>

    <li>
      <a
        href="#"
        class="block h-8 w-8 border border-black text-center leading-8"
      >
        3
      </a>
    </li>

    <li>
      <a
        href="#"
        class="inline-flex h-8 w-16 items-center justify-evenly border border-black"
      >
        <span>Next </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
    </li>
  </ol>
</section>
