.banner{
    width: 100%;
    background-image: url("/assets/images/bgTest.jpg");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top:3rem ;
}

.image{
    position: relative;
    height: 8rem;
    width: 8rem;
    border-radius: 8rem;
    border: 5px solid #4ABB71;
    overflow: hidden;
}

.image img{
    height: 100%;
    width: 100%;
}

.overlay h1{
    color: #4ABB71;
    font-weight: bold;
    font-size: 2.5rem;
}

.location{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    padding: 10px;
}

.job{
    margin-right: 10px;
}

.produce{
    height:45vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.divider{
    width: 50%;
    padding: 1rem;
    border-bottom: 1px solid #979797;
}

.produce h1, .about h1{
    font-weight: bold;
    font-size: 30px;
}

.prodOption{
    position: relative;
    padding: 3rem;
    display: flex;
    column-gap: 2rem;
}

.prodOption .prodBtn{
    background-color: #4ABB71;
    padding: 0.8rem;
    border-radius: 3rem;
    color: white;
    font-weight: bold;
    transition: all ease 0.5s;
    cursor: pointer;
    min-width:7rem;
}

.prodOption .prodBtn:hover{
    background-color: #215734;
}

.about{
    width: 100%;
    background-color: #8DB557;
    padding: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about .divider{
    border-bottom: 1px solid white;
    margin-bottom: 2rem;
}

.about .userDetail{
    width: 40%;
    margin-bottom: 3rem;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact h2{
    display: flex;
    align-items: center;
}

.contactDets{
    width: 40%;
}