//flex container for left and right named div
.aboutFlex{
  display:flex;
  justify-content:
   space-between;
}

//container for text in
.left {
  width: 40%;
  height: 60%;
}
// styles the heading for about us aboutflex section
.left h2 {
  align-items: center;
  text-align: left;
  font-size: 40px;
  font-family: 'Roboto';
  color: #2e9250;
  padding-left: 2vw;
}
// styles hr tag to work a an underline for heading text
.left h2 hr {
  border: solid #979797;
  border-radius: 5px;
  width: 60%;
}
// container that fits image displayed to the right of text data
.right {
  width: 50%;
  height: 45%;
  background-repeat: no-repeat;
  background-size: cover;
}
//styles the hr tag
.about {
  width: 60%;
  margin: auto;
  border: solid #F5F5F5;
  margin-bottom: 1.5vw;
  border-radius: 5px;
  padding: 0;
}
//styles the hr tag that is above the class 'left'
.sectionsplit {
  width: 100%;
  margin: auto;
  border: 3px solid #8db557;
  margin-bottom: 3vw;
  border-radius: 5px;
}
//styles the section with the meet or team information this is main container with the striped background
.MeetOurTeam {
  height: 70vw;
  width: 100%;
  background-color: #8db557;
  padding: 3vw 0;
  justify-content: center;
  align-items: center;
  position: relative;
}
//styles the heading for the MeetOurTeam section
.teamHeading{
font-family: 'Roboto',sans-serif;
font-weight: 700;
font-size: 3.2vw;
color: #F5F5F5;
text-align: center;
}
//styles the paragraph tag
.introtext{
  color: #F5F5F5;
  font-size: 500;
}
//the horizontal bar along the center of the  MeetOurTeam container
.stripe {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 8vw;
  width: 100%;
  color: white;
  background-color: #B98D24;
  position: absolute;
  align-self: center;
}
//container set to flex the cars
.teamcardflex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 4vw;
  top: 50%;
  transform: translateY(-50%);
  gap: 4vw;
  z-index: 3;
  justify-content: space-around;
  position: absolute;
  margin-top: 6vw;
}
//styles the card itself
.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  align-items: center;
  // text-align: center;
  font-family: arial;
  padding: 2vw 1vw 2vw 1vw;
  z-index: 3;
  background-color: white;

}
//styles the name
.card h1 {
  font-weight: 700;
  font-size: 3vw;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2vw;
  color: #2e9250;
}
//styles the container that has the image in the card
.avatar {
  vertical-align: middle;
  width: 80%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1vw;
}

//styeles the text in the card
.title {
  flex: 1;
  color: grey;
  font-size: 18px;
  z-index: 3;
  text-size-adjust: 10%;
  width: 90%;
  margin-bottom: 2vw;
  padding-left: 1.5vw;
}
//styles the card footer text
.weight{
  font-weight: 700;
}


@media only screen and (max-width: 1100px) and (min-width: 850px) {
  .title {
    font-size:1.7vw;
    padding-left: 1vw;
  }


.card{
  padding: 1.6vw 0 1.6vw 0;
}

}
@media only screen and (max-width: 700px) {
  .title {
    font-size:1.2vw;
  }
  .aboutFlex{
    display: block;
    margin-bottom: 2vw;
  }

    .left {
      width: 100%;
      height: 80%;
      text-align: center;
      margin-bottom: 2vw;
      }
    .right{
      width: 100%;
      height: 50%;
    }
.weight{
  font-size: 2vw;
}
.card{
  padding: 1.6vw 0.5vw 1.6vw 0.5vw;
}
.MeetOurTeam{
  padding: 0.4vw 0;
  font-size: 2vw;

}

}
