<section
  class="overflow-hidden bg-[url('assets/images/aboutus.jpg')] bg-cover bg-center bg-no-repeat"
>
  <div class="bg-black/25 p-12 md:p-20 lg:px-16 lg:py-48">
    <div class="max-w-md text-center mx-auto lg:max-w-4xl">
      <h2
        class="text-2xl font-bold text-white sm:text-4xl md:text-5xl xl:text-6xl"
      >
        Helping you to connect with farmers near you
      </h2>

      <svg
        class="ml-3 h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17 8l4 4m0 0l-4 4m4-4H3"
        />
      </svg>
    </div>
  </div>
</section>
<section style="padding: 3vw 7vw 1.6vw 7vw">
  <div>


        <h2
          class="mt-1 text-3xl font-semibold uppercase tracking-wide lg:text-4xl text-center"
          style="margin-bottom: 1vw; color: #2e9250">
          About Us
        </h2>
        <hr class="about" />

        <br />
        <p style="text-align: center; margin-bottom: 20px">
          We are a registry company operating locally in Jamaica,<br />We are
          committed to helping our users create a avenue to sell their produce
          to local business.<br />
          Our users ranged from small farmers to plantations owners, and the
          target businesses range from individual buyers, small and medium size
          companies, large corporation, and investors.
        </p>
      </div>
      <hr class=" sectionsplit"/>

<div class="aboutFlex">
    <div class="left">
      <h2>HISTORY</h2>
      <hr style="margin-bottom: 2vw" />
      <p>
        The Farmer Director was founded in 2022 by a group of engineers who have
        came to the realization that there wasn’t a platform to support our
        local farmers. Wanted to create a solution for this, they came together
        as a team to fix the issue. After much debate, the team came to the
        conclusion to make a register where users (farmer) can register and list
        their produce, and potential buyers can browse for the produce they
        need.
      </p>
    </div>
    <div class="right">
      <img src="assets/images/history.jpg">
    </div>
</div>
</section>

<section class="MeetOurTeam">
  <h2
          class="teamHeading"
          style="margin-bottom: 1vw; color:#F5F5F5; ">
          Meet Our Team
        </h2>
        <hr class="about"/>
        <div class="teamText">

        <p class="introtext">We are all very different in personality, and have different backgrounds.
          However, The one of the few things we have in command is a shared love for our country,
           and appreciation for our local farmers.

        </p>
      </div>
        <div class="stripe"></div>
        <div class="teamcardflex">
          <div class="card">
            <img src="https://images.pexels.com/photos/11121949/pexels-photo-11121949.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="John" class="avatar">
            <h1>Mark James</h1>
            <p class="title">“Don’t keep scores, help because you want to make the world a better place."</p>
            <p class="weight">Creative Leader</p>
        </div>
        <div class="card">
          <img src="https://images.pexels.com/photos/11121949/pexels-photo-11121949.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="John" class="avatar">

          <h1>Alex Brown</h1>

          <p class="title">“You can have anything you want if you help enough people get what they want.”</p>

          <p class="weight">Web Developer</p>

        </div>
        <div class="card">
          <img src="https://images.pexels.com/photos/11121949/pexels-photo-11121949.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="John" class="avatar">

          <h1>John White</h1>
          <p class="title">“Success has nothing to do with the amount of money you make; its about how you affect the lives of others.”</p>

          <p class="weight">Programming Guru</p>
        </div>
        </div>

</section>
