
    <div class="banner">
        <div class="overlay">
            <div class="image">
                <img src="assets/images/user.jpeg" alt="">
            </div>
            <h1>John Brown</h1>
            <div class="location">
                <i class="fa-solid fa-bag-shopping"></i>
                <h2 class="job">Organic Cultivator</h2>
                <h2>/</h2>
                <i class="fa-solid fa-location-pin"></i>
                <h2>Kingston</h2>
            </div>
        </div>
    </div>
    <div class="produce">
        <div class="divider">
            <h1>Produce</h1>
        </div>
        <div class="prodOption">
            <div class="prodBtn">Yam</div>
        </div>
    </div>
    <div class="about">
        <div class="divider">
            <h1>About</h1>
        </div>
        <h2 class="userDetail">Expert cultivator. Ensuring we grow smart, eat smart. Supplying a better Jamaica.</h2>
        <div class="divider">
            <h1>Contacts</h1>
        </div>
        <div class="contactDets">
            <div class="contact">
                <h2>
                    <i class="fa-solid fa-phone"></i>
                    +18768888888
                </h2>
                <h2>
                    <i class="fa-solid fa-envelope"></i>
                    random@gmail.com
                </h2>
            </div>
        </div>
    </div>
</section>
