<section *ngIf="getFarmer">
    <div class="banner">
        <div class="overlay">
            <div class="image">
                <img src="{{getFarmer.image}}" alt="">
            </div>
            <h1>{{getFarmer.fname}} {{getFarmer.lname}}</h1>
            <div class="location">
                <i class="fa-solid fa-bag-shopping"></i>
                <h2 class="job">{{getFarmer.farmer_type}}</h2>
                <h2>/</h2>
                <i class="fa-solid fa-location-pin"></i>
                <h2>{{getFarmer.address.parish}}</h2>
            </div>
        </div>
    </div>
    <div class="produce">
        <div class="divider">
            <h1>Produce</h1>
        </div>
        <div class="prodOption" *ngFor="let farmer of ">
            <div class="prodBtn">Yam</div>
        </div>
    </div>
    <div class="about">
        <div class="divider">
            <h1>About</h1>
        </div>
        <h2 class="userDetail">{{getFarmer.description}}</h2>
        <div class="divider">
            <h1>Contacts</h1>
        </div>
        <div class="contactDets">
            <div class="contact">
                <h2>
                    <i class="fa-solid fa-phone"></i>
                    + {{getFarmer.phone}}
                </h2>
                <h2>
                    <i class="fa-solid fa-envelope"></i>
                    {{getFarmer.email}}
                </h2>
            </div>
        </div>
    </div>
</section>
