.searchBar {
 border-radius: 50px;
 background-color: #EAEAEA;
margin-left: 2%;
width: 474px;

}


section{
  border-bottom: solid black 1px;
  padding: 30px;
}


h1{
  font-size: 45px;
  padding: 50px;
}
